/* App */

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Open Sans";
  margin: 0px;
  background-color: #282828;
  color:antiquewhite;
  width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  padding: 20px;
}

input {
  margin: 10px;
  height: 2em;
  width: 100%;
}

hr {
  border: 1px solid rgb(87, 87, 87);
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-group {
  margin-left: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-item{
  white-space: normal;
}

.stats-container {
  display: flex;
  justify-content: space-between;
}

.pre-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
}

.title {
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: center;
}

.to-top{
  justify-self: flex-end;
}

.chap-header {
  text-align: center;
}

.chap-line {
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 1.7em;
}

@font-face {
  font-family: "Open Sans";
  src: url('OpenSans-Light.ttf');
}